.spinnerWrapper {
  text-align: center;
  margin-top: 1rem;
}

.profileWrapper {
  margin: 0 auto;
  width: 18.5rem;
  max-width: 300px;
}

.avatar {
  border-radius: 50%;
  width: 100%;
}

.login,
.nameText {
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}

.login {
  font-size: 1.25rem;
  color: var(--darkGrayText);
}

.nameText {
  margin-top: 1rem;
  font-size: 1.625rem;
  color: var(--darkestGrayText);
}

.statsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--darkGrayText);
}

.following {
  margin-left: 0.75rem;
}

.followersIcon {
  transform: translateY(-1px);
  margin-right: 0.2rem;
}
