:root {
  --pageBackground: #e5e5e5;
  --darkGrayText: #6f7781;
  --darkestGrayText: #24292f;
  --input: #d0d7de;
  --blueLinkText: #166cd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--pageBackground);
}
